body {
  background: #1F1F1F;
  color: #A9A9A9;
  font-size: 16px;
  margin: 0;
  padding: 24px 0;
  font-family: 'Roboto', sans-serif;
}

.App {
  margin: 0 auto;
  max-width: 600px;
  padding: 2em;
  background: #252525;
  border-radius: 14px;
  box-shadow: 0 2px 12px rgba(0,0,0,0.18);
}

h1, h2, h3 {
  color: #fff;
}

div[role='list'] > div {
  background: #222;
  margin-bottom: 10px;
  padding: 16px;
  border-radius: 8px;
}
